[Desktop Entry]
Name=Nova Papilio
X-KDE-PluginInfo-Name=Nova-Papilio
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Email=varlesh@gmail.com
